*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --quadrado-size: 100px;
  --mark-size: calc(var(--quadrado-size) * 0.9);
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: #988aff;

  grid-template-columns: repeat(3, auto);
}

.quadrado {
  width: var(--quadrado-size);
  height: var(--quadrado-size);
  border: 4px solid rgba(0, 0, 0, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.quadrado:first-child,
.quadrado:nth-child(2),
.quadrado:nth-child(3) {
  border-top: none;
}

.quadrado:nth-child(3n + 1) {
  border-left: none;
}

.quadrado:nth-child(3n + 3) {
  border-right: none;
}

.quadrado:last-child,
.quadrado:nth-child(8),
.quadrado:nth-child(7) {
  border-bottom: none;
}

.quadrado.x::before,
.quadrado.x::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: rgb(84, 84, 84);
}

.quadrado.x,
.quadrado.circulo {
  cursor: not-allowed;
}

.quadrado.x::before {
  transform: rotate(45deg);
}

.quadrado.x::after {
  transform: rotate(-45deg);
}

.quadrado.circulo::before,
.quadrado.circulo::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.quadrado.circulo::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #988aff;
}

.quadrado.circulo::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: rgb(242, 235, 211);
}
